<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/style_authorization.css">

    <title>Аутентификация</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать в Место встречи</h1>
    </header>
    <main>
        <div class="form-container">
            <div class="form-group">
                <label for="username">Логин:</label>
                <input type="text" id="username" placeholder="Введите имя пользователя" required>
            </div>
            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" placeholder="Введите пароль" required>
            </div>
            <div class="button-container">
                <button class="save-button" id="login-button">Войти</button>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 Место встречи</p>
    </footer>

    <script>
        document.getElementById('login-button').addEventListener('click', async () => {
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            });

            if (response.ok) {
                window.location.href = '/'; // Переход на главную страницу
            } else {
                alert('Ошибка аутентификации! Проверьте имя пользователя и пароль.');
            }
        });
    </script>
</body>
</html>
