<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас</title>
    <link rel="stylesheet" href="style/style_info.css">
    <link href="{{ url_for('style_info', path='/style_profile.css') }}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li class="left"><a href="/">Главная</a></li>
                <div class="right-links">
                    <li><a href="/profile">Мой профиль</a></li>
                    <li><a href="/info">О нас</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <section id="about">
            <h2>О нас</h2>
            <p>Некоторая информация о нашей команде.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Место встречи</p>
    </footer>
</body>
</html>
