/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Светло-серый фон */
    color: #333; /* Темно-серый текст */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота на 100% высоты окна */
}

main {
    flex: 1; /* Растягиваем основной контент */
    display: flex; /* Используем flexbox для центрирования */
    justify-content: center; /* Центрируем по горизонтали */
    align-items: center; /* Центрируем по вертикали */
}

.form-container {
    max-width: 400px; /* Максимальная ширина формы */
    width: 100%; /* Ширина формы 100% */
    padding: 30px; /* Отступы внутри блока */
    background-color: white; /* Белый фон блока */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Тень */
    animation: fadeIn 0.5s; /* Анимация появления */
}

/* Анимация появления */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Стили для группы полей ввода */
.form-group {
    margin-bottom: 20px; /* Отступ снизу для каждого поля */
    text-align: center; /* Центрируем текст меток */
}

.form-group label {
    display: block; /* Каждая метка на новой строке */
    font-size: 18px; /* Увеличенный размер шрифта для меток */
    margin-bottom: 10px; /* Отступ снизу для меток */
}

.form-group input {
    width: 90%; /* Ширина полей ввода 100% */
    padding: 10px; /* Отступы внутри полей ввода */
    font-size: 16px; /* Размер шрифта для полей ввода */
    border: 1px solid #ccc; /* Рамка полей ввода */
    border-radius: 5px; /* Закругленные углы */
}

/* Заголовок */
header {
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
    padding: 4px 0; /* Отступы */
    text-align: center; /* Выравнивание текста по центру */
}

/* Контейнер для кнопок */
.button-container {
    display: flex; /* Используем flexbox */
    justify-content: center; /* Центрируем кнопку */
}

/* Кнопки */
.save-button {
    background-color: #4CAF50; /* Зеленый фон кнопки */
    color: white; /* Белый текст кнопки */
    border: none; /* Убираем рамку */
    width: 100%; /* Ширина кнопки 100% */
    height: 40px; /* Фиксированная высота кнопки */
    font-size: 16px; /* Размер текста */
    border-radius: 5px; /* Закругленные углы */
    cursor: pointer; /* Курсор в виде указателя */
    transition: background-color 0.3s, transform 0.3s; /* Эффект перехода */
}

.save-button:hover {
    background-color: #45a049; /* Цвет фона при наведении */
    transform: scale(1.05); /* Увеличение при наведении */
}

/* Футер */
footer {
    text-align: center; /* Выравнивание по центру */
    padding: 2px 0; /* Отступы */
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый текст */
}
