<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск компании</title>
    <link rel="stylesheet" href="../style/style_search.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li class="left"><a href="../index.html">Главная</a></li>
                <div class="right-links">
                    <li><a href="../profile.html">Мой профиль</a></li>
                    <li><a href="../info.html">О нас</a></li>
                </div>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Поиск компании</h1>
        <p>Информация о поиске компании.</p>
    </main>

    <footer>
        <p>&copy; 2024 Место встречи</p>
    </footer>
</body>
</html>
